header{background: url(../img/banner.png) no-repeat center/cover; max-width: 100%;}
 .wrap-5{background: url(../img/bg3.png) no-repeat center/cover; max-width: 100%;} 
 .wrap-6{background: url(../img/wrap-6.webp)no-repeat center/cover; max-width: 100%;;}
 .wrap-7{background: url(../img/wrap-5.png) no-repeat center/cover; max-width: 100%;}
 